$purple: #584464 !default;
$dark-purple: #342638 !default;
$light-purple: #f5f0fa !default;
$background: #fbfbfb !default;
$text: #070707 !default;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@media screen and (min-width: 1440px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header,
  article {
    width: 75%;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}

.title {
  font-size: xx-large;
  color: $dark-purple;
  margin: 8px;
}

.subtitle {
  font-size: large;
  color: $purple;
  margin: 8px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  width: 25%;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.primary-card,
.secondary-card,
.tertiary-card {
  border-radius: 8px;
  margin: 8px;
  padding: 32px;
  font-weight: bold;
}

.primary-card {
  background-color: $purple;
  color: $light-purple;
  transition: 500ms;

  &:hover {
    background-color: $dark-purple;
  }
}

.secondary-card {
  background-color: $dark-purple;
  color: $light-purple;
  transition: 500ms;

  &:hover {
    background-color: $light-purple;
    color: $dark-purple;
  }
}

.tertiary-card {
  background-color: $light-purple;
  color: $dark-purple;
  transition: 500ms;

  &:hover {
    background-color: $purple;
    color: $light-purple;
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 32px;

  div {
    display: inherit;
    align-items: inherit;
    img {
      margin: 8px;
    }
  }

  nav {
    display: flex;
    a {
      text-decoration: none;
      padding: 8px 16px;
      border-radius: 32px;
      color: $purple;
      transition: 500ms;
      &:hover {
        background-color: $light-purple;
      }
    }
  }

  @media screen and (max-width: 768px) {
    justify-content: center;

    h1,
    nav {
      display: none;
    }
  }
}

.welcome-section {
  display: flex;
  justify-content: center;
  padding: 32px;

  .column {
    padding: 16px;
    width: 80%;

    img {
      width: 100%;
      align-self: center;
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    justify-content: center;

    .column {
      align-items: center;
      justify-content: center;
      color: $purple;
      width: 100%;
      text-align: center;
    }
  }
}

.about-section {
  display: flex;
  flex-direction: column;
  padding: 32px;

  .subtitle {
    text-align: center;
  }

  .column {
    align-items: center;
    justify-content: center;
    padding: 32px 0px;

    img {
      margin: 8px;
    }
  }

  .row {
    justify-content: center;
    align-items: start;
  }

  .card {
    width: 30%;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}

.services-section {
  display: flex;
  flex-direction: column;
  padding: 32px;

  .row {
    padding: 32px 0px;
    justify-content: space-between;
  }

  .card {
    text-align: center;
  }
}

.experience-section {
  display: flex;
  flex-direction: column;
  padding: 32px;

  div.column {
    text-align: right;
    align-items: end;
  }

  .row {
    padding: 32px 0px;
    justify-content: space-between;
  }
}

.contact-section {
  display: flex;
  flex-direction: column;
  padding: 32px;

  .column {
    width: 50%;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  .row {
    justify-content: space-between;
    align-items: center;
  }

  img {
    margin: 16px;
    width: 100px;
    fill: $purple;
  }
  @media screen and (max-width: 768px) {
    .row {
      padding: 32px 0px;
      width: 100%;
      justify-content: space-evenly;
    }

    img {
      width: 50px;
      flex-flow: row nowrap;
      margin: 8px;
    }
  }
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 32px;
  background-color: $purple;

  .subtitle {
    color: $light-purple;
    @media screen and (max-width: 768px) {
      font-size: small;
    }
  }
}
