{% extends "layout/landing.html" %}

{% block title%}Bruno Minelli{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{{url_for('static', filename='css/landing.css') }}">
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}



<main>
    {% include "pages/landing/section/hero.html" %}

    {% include "pages/landing/section/problem.html" %}

    {% include "pages/landing/section/solution.html" %}

    {% include "pages/landing/section/about.html" %}

    {% include "pages/landing/section/contact.html" %}
</main>


{% endblock %}